.stocks {
  box-sizing: border-box; 
  overflow: hidden;
  height: 100%;

  .content {
    height: 100%;
    padding: 20px;
    overflow: hidden; 
  }

  .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 140px));
    grid-gap: 10px;
    align-items: stretch;
    justify-content: center;
    height: 100%; 
    overflow: auto; 
  }
}
